<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .container {
            max-width: 600px;
            text-align: center;
        }

        .blueStrip {
            background-color: #4A65FC;
        }

        .textContainer {
            padding: 10%;
            font-size: large;
            background-color: white;
        }

        .footer {
            height: "50vh";
            color: white;
        }
    </style>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <div class="container">
                    <div class="blueStrip">
                        <img src="https://i.imgur.com/rTPPBoZ.png" height="80vh" />
                    </div>
                    <div class="textContainer">
                        <p>Hi {{firstname}} {{lastname}}, we have received a request to change your password, please
                            enter the code
                            below into your Todo application to continue the password change process, if it was not you,
                            please
                            ignore this email and do not share the code with anyone. </p>
                        <img src="https://i.imgur.com/g1nhuSl.png" height="150vh" align="center" />
                        <h1>{{code}}</h1>
                    </div>
                    <div class="blueStrip footer">
                        <p>Copyright © Todo, all rights reserved</p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>